<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Jumanji: The Next Level</string>
		<key>poster</key>
		<string>jumanji.jpeg</string>
		<key>genre</key>
		<string>Comedy</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt7975244/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zombieland: Double Tap</string>
		<key>poster</key>
		<string>Zombieland.jpeg</string>
		<key>genre</key>
		<string>Comedy</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt1560220/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hustlers</string>
		<key>poster</key>
		<string>hustlers.jpeg</string>
		<key>genre</key>
		<string>Comedy</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt5503686/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Good Boys</string>
		<key>poster</key>
		<string>goodboys.jpeg</string>
		<key>genre</key>
		<string>Comedy</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt6977338/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string> The Witches</string>
		<key>poster</key>
		<string>thewitches.jpeg</string>
		<key>genre</key>
		<string>Comedy</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt6977338/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Kissing Booth 2</string>
		<key>poster</key>
		<string>kissingbooth.jpeg</string>
		<key>genre</key>
		<string>Comedy</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt9784456/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Impractical Jokers: The Movie</string>
		<key>poster</key>
		<string>impracticaljokers.jpeg</string>
		<key>genre</key>
		<string>Comedy</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt9208444/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Babysitter: Killer Queen</string>
		<key>poster</key>
		<string>babysitter.jpeg</string>
		<key>genre</key>
		<string>Comedy</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt11024272/?ref_=nv_sr_srsg_3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>After</string>
		<key>poster</key>
		<string>after.png</string>
		<key>genre</key>
		<string>Romance</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt4126476/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aladdin</string>
		<key>poster</key>
		<string>aladdin.jpeg</string>
		<key>genre</key>
		<string>Romance</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt6139732/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Queen &amp; Slim</string>
		<key>poster</key>
		<string>queen&amp;slim.jpeg</string>
		<key>genre</key>
		<string>Romance</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8722346/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tall Girl</string>
		<key>poster</key>
		<string>tallgirl.jpeg</string>
		<key>genre</key>
		<string>Romance</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt9252508/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>365 Days</string>
		<key>poster</key>
		<string>365.jpeg</string>
		<key>genre</key>
		<string>Romance</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt10886166/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>My First Summer</string>
		<key>poster</key>
		<string>myfirstsummer.jpeg</string>
		<key>genre</key>
		<string>Romance</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt10229982/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>To All the Boys: P.S. I Still Love You</string>
		<key>poster</key>
		<string>TATB.jpeg</string>
		<key>genre</key>
		<string>Romance</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt9354842/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Looks That Kill</string>
		<key>poster</key>
		<string>looksthatkill.jpeg</string>
		<key>genre</key>
		<string>Romance</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8179470/?ref_=nv_sr_srsg_3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Avengers: End Game</string>
		<key>poster</key>
		<string>endgame.jpeg</string>
		<key>genre</key>
		<string>Action</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt4154796/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ready or Not</string>
		<key>poster</key>
		<string>readyornot.jpeg</string>
		<key>genre</key>
		<string>Action</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt7798634/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Escape Room</string>
		<key>poster</key>
		<string>escaperoom.jpeg</string>
		<key>genre</key>
		<string>Action</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt5886046/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spider-Man: Far from Home</string>
		<key>poster</key>
		<string>spiderman.jpeg</string>
		<key>genre</key>
		<string>Action</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt6320628/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Hunt</string>
		<key>poster</key>
		<string>thehunt.jpeg</string>
		<key>genre</key>
		<string>Action</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8244784/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mulan</string>
		<key>poster</key>
		<string>mulan.jpeg</string>
		<key>genre</key>
		<string>Action</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt4566758/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spree</string>
		<key>poster</key>
		<string>spree.jpeg</string>
		<key>genre</key>
		<string>Action</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt11394332/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Peninsula</string>
		<key>poster</key>
		<string>peninsula.jpeg</string>
		<key>genre</key>
		<string>Action</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8850222/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Addams Family</string>
		<key>poster</key>
		<string>addams.jpeg</string>
		<key>genre</key>
		<string>Animation</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt1620981/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Toy Story 4</string>
		<key>poster</key>
		<string>toystory.jpeg</string>
		<key>genre</key>
		<string>Animation</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt1979376/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Frozen II</string>
		<key>poster</key>
		<string>frozen.jpeg</string>
		<key>genre</key>
		<string>Animation</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt4520988/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Secret Life of Pets 2</string>
		<key>poster</key>
		<string>pets2.jpeg</string>
		<key>genre</key>
		<string>Animation</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt5113040/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Soul</string>
		<key>poster</key>
		<string>soul.jpeg</string>
		<key>genre</key>
		<string>Animation</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt2948372/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Demon Slayer the Movie: Mugen Train</string>
		<key>poster</key>
		<string>demonslayer.jpeg</string>
		<key>genre</key>
		<string>Animation</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt11032374/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Trolls 2: World Tour</string>
		<key>poster</key>
		<string>trolls.jpeg</string>
		<key>genre</key>
		<string>Animation</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt6587640/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phineas and Ferb the Movie: Candace Against the Universe</string>
		<key>poster</key>
		<string>phineas.jpeg</string>
		<key>genre</key>
		<string>Animation</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt1817232/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Midsommar</string>
		<key>poster</key>
		<string>midsommar.jpeg</string>
		<key>genre</key>
		<string>Drama</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8772262/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>It Chapter Two</string>
		<key>poster</key>
		<string>it.jpeg</string>
		<key>genre</key>
		<string>Drama</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt7349950/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Glass</string>
		<key>poster</key>
		<string>glass.jpeg</string>
		<key>genre</key>
		<string>Drama</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt6823368/?ref_=fn_al_tt_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parasite</string>
		<key>poster</key>
		<string>parasite.jpeg</string>
		<key>genre</key>
		<string>Drama</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt6751668/?ref_=nv_sr_srsg_0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hamilton</string>
		<key>poster</key>
		<string>hamilton.jpeg</string>
		<key>genre</key>
		<string>Drama</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8503618/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A Quiet Place Part II</string>
		<key>poster</key>
		<string>quietplace.jpeg</string>
		<key>genre</key>
		<string>Drama</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8332922/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Invisible Man</string>
		<key>poster</key>
		<string>invisibleman.jpeg</string>
		<key>genre</key>
		<string>Drama</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt1051906/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Craft: Legacy</string>
		<key>poster</key>
		<string>thecraft.jpeg</string>
		<key>genre</key>
		<string>Drama</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt4685762/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Us</string>
		<key>poster</key>
		<string>us.png</string>
		<key>genre</key>
		<string>Mystery</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt6857112/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Lodge</string>
		<key>poster</key>
		<string>lodge.jpeg</string>
		<key>genre</key>
		<string>Mystery</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt7347846/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brightburn</string>
		<key>poster</key>
		<string>brightburn.jpeg</string>
		<key>genre</key>
		<string>Mystery</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt7752126/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Color Out of Space</string>
		<key>poster</key>
		<string>color.jpeg</string>
		<key>genre</key>
		<string>Mystery</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt5073642/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Host</string>
		<key>poster</key>
		<string>host.jpeg</string>
		<key>genre</key>
		<string>Mystery</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt12749596/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Call</string>
		<key>poster</key>
		<string>thecall.jpeg</string>
		<key>genre</key>
		<string>Mystery</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt10530176/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gtetel &amp; Hansel</string>
		<key>poster</key>
		<string>gretel.jpeg</string>
		<key>genre</key>
		<string>Mystery</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt9086228/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Enola Holmes</string>
		<key>poster</key>
		<string>enola.jpeg</string>
		<key>genre</key>
		<string>Mystery</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt7846844/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Joker</string>
		<key>poster</key>
		<string>joker.jpeg</string>
		<key>genre</key>
		<string>Thriller</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt7286456/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Lighthouse</string>
		<key>poster</key>
		<string>lighthouse.jpeg</string>
		<key>genre</key>
		<string>Thriller</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt7984734/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Platform</string>
		<key>poster</key>
		<string>platform.jpeg</string>
		<key>genre</key>
		<string>Thriller</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8228288/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eli</string>
		<key>poster</key>
		<string>eli.jpeg</string>
		<key>genre</key>
		<string>Thriller</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt5294518/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>#Alive</string>
		<key>poster</key>
		<string>alive.jpeg</string>
		<key>genre</key>
		<string>Thriller</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt10620868/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Run</string>
		<key>poster</key>
		<string>run.jpeg</string>
		<key>genre</key>
		<string>Thriller</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8633478/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Come Play</string>
		<key>poster</key>
		<string>comeplay.jpeg</string>
		<key>genre</key>
		<string>Thriller</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8004664/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Relic</string>
		<key>poster</key>
		<string>relic.jpeg</string>
		<key>genre</key>
		<string>Thriller</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt9072352/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Marvel</string>
		<key>poster</key>
		<string>marvel.jpeg</string>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt4154664/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>X-Men: Dark Phoenix</string>
		<key>poster</key>
		<string>phoenix.jpeg</string>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt6565702/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vivarium</string>
		<key>poster</key>
		<string>vivarium.jpeg</string>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8368406/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>In the Tall Grass</string>
		<key>poster</key>
		<string>grass.jpeg</string>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>year</key>
		<string>2019</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt4687108/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tenet</string>
		<key>poster</key>
		<string>tenet.jpeg</string>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt6723592/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Black Panther: Origins</string>
		<key>poster</key>
		<string>blankpanther.jpeg</string>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt8675462/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Underwater</string>
		<key>poster</key>
		<string>underwater.jpeg</string>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt5774060/?ref_=adv_li_tt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Boss Level</string>
		<key>poster</key>
		<string>bosslevel.jpeg</string>
		<key>genre</key>
		<string>Sci-Fi</string>
		<key>year</key>
		<string>2020</string>
		<key>imdb</key>
		<string>https://www.imdb.com/title/tt7638348/?ref_=adv_li_tt</string>
	</dict>
</array>
</plist>
